---

---

14 years of practice on <span class="hl acc-about">Symfony</span>, from 2.x to
7.x.{' '}
<em>Doctrine ORM</em>, <em>Messenger</em>,{' '}
<em>API Platform</em>, forms, security, events, command buses. Able to audit an
existing Symfony codebase, define an LTS migration strategy, train a team, or
start a project from scratch with the right calls on day one.
