---

---

14 ans de pratique sur <span class="hl acc-about">Symfony</span>, du 2.x au 7.x.{
  ' '
}
<em>Doctrine ORM</em>, <em>Messenger</em>,{' '}
<em>API Platform</em>, formulaires, sécurité, événements, bus de commandes.
Capable d'auditer une codebase Symfony existante, de définir une stratégie de
migration LTS, de former une équipe, ou de démarrer un projet from scratch avec
les bons choix dès le jour 1.
