---

---

<h1
  class="font-serif mt-6 text-[52px] sm:text-[72px] leading-[1.02] tracking-[-0.015em]"
  style="font-family: var(--font-serif)"
>
  Articles de blog{' '}
  <>
    <br />
    <em class="acc-blog">au long cours.</em>
  </>
</h1>
